body {
align-self: center;
   background: url(../images/jsquizpic.jpg);
   background-size: contain;
   width: 800px;
   padding-left:20px;
   text-align: left;
   margin:auto;
   color:#16A085;
   font-family: sans-serif;
   font-size: 30px;
}
.button{
   background: #AEB6BF;
}
#topbanner{
   width: 900px;
   padding:50px;
   text-align: left;
   margin:auto;
   color:black;
   font-family: sans-serif;
   background: #5D6D7E;
}
